accelerate==1.1.0
evaluate==0.4.3
matplotlib==3.9.2
numpy==1.23.2
pandas==2.2.3
pillow==11.0.0
pydantic==2.9.2
scikit-learn==1.5.2
supervision==0.24.0
torch==2.5.1
torchvision==0.20.1
transformers==4.46.1
ultralytics==8.3.27
